<!DOCTYPE html>
<html lang="en">
<style type="text/css"> body{ background-image:url('/assets/fw.jpg'); }
</style>
	
<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7" style="color:#0000FF">
          <h1>@$#% MARI PE MID
            <p class="lead" style="color:#0000FF">FNATIC</p>
          </h1>
        </div>
        <div class="col-md-5" >
            <div class="well well-lg" style="background: transparent"> 
              <div class="row">
                <div class="col-sm-6">
        	      	<img src='/assets/rekkles_pic.jpg' class="img-responsive">
                </div>
                <div class="col-sm-6" style="color:#0000FF">
	              	this is xPeke
                  kassadin skills so wow 
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div><!--/container-->
</div><!--/masthead-->



<!--main-->
<div class="container">
	<div class="row">
      <!--left-->

      <div class="col-lg-8 col-centered" id="leftCol" >

        <ul class="nav nav-stacked" id="sidebar">
        
<!-- modify collapse ex: href:="#collapseOne" and id="collapseOne" to designated game id -->
<div class="panel-group" id="accordion" style="background: transparent">
  <div class="panel panel-default" style="background: transparent">
    <div class="panel-heading" style="background: transparent">
      <h4 class="panel-title" >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color:#0000FF">
          Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00 | Fnatic vs STK T1 | World Cup
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse ">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"      title="Click to expand/open page" style="background: transparent">  
                   Visit game page 
              </button>
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion" style="background: transparent">
  <div class="panel panel-default" style="background: transparent">
    <div class="panel-heading" style="background: transparent">
      <h4 class="panel-title" >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="color:#0000FF">
          Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00 | Fnatic vs STK T1 | World Cup
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse ">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion" style="background: transparent">
  <div class="panel panel-default" style="background: transparent">
    <div class="panel-heading" style="background: transparent">
      <h4 class="panel-title" >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="color:#0000FF">
          Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00 | Fnatic vs STK T1 | World Cup
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse ">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion" style="background: transparent">
  <div class="panel panel-default" style="background: transparent">
    <div class="panel-heading" style="background: transparent">
      <h4 class="panel-title" >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="color:#0000FF">
          Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00 | Fnatic vs STK T1 | World Cup
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse ">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <div class="panel-group" id="accordion" style="background: transparent">
  <div class="panel panel-default" style="background: transparent">
    <div class="panel-heading" style="background: transparent">
      <h4 class="panel-title" >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="color:#0000FF">
          Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00 | Fnatic vs STK T1 | World Cup
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse ">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
<!--
          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"      title="Click to expand/open page" style="background: transparent">  
                  <li><a href="#sec0"> Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00</a></li>
          </button>

          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"      title="Click to expand/open page" style="background: transparent">  
                  <li><a href="#sec0"> Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00</a></li>
          </button>

          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"      title="Click to expand/open page" style="background: transparent">  
                  <li><a href="#sec0"> Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00</a></li>
          </button>

          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"      title="Click to expand/open page" style="background: transparent">  
                  <li><a href="#sec0"> Champion : Kassadin | KDA : 20/0/20 | CS: 500 | Game time : 20:00</a></li>
          </button>
-->
        </ul>
      </div><!--/left-->
      
     
        </div><!--/right-->
  	</div><!--/row-->
</div><!--/container-->



	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>